; REQUIRED CONFIG FOR ALL FLOWS
LOGIN_USERNAME='your_braze_account_email_address'
PASSWORD='your_braze_account_password'
BRAZE_LOGIN_ALLOW_MANUAL_MFA=true
ENV=QA

; REQUIRED CONFIG FOR 'yarn omio:vouchers-bulk-replenish:headed'
MIN_CODES_THRESHOLD=70
REPLENISH_BATCH_SIZE=5

; ask user to create .env file (you can copy this just delete the .example so you have only '.env')
