; REQUIRED CONFIG FOR ALL FLOWS
LOGIN_USERNAME='your_braze_account_email_address'
PASSWORD='your_braze_account_password'
BRAZE_LOGIN_ALLOW_MANUAL_MFA=true

; WHICH PROFILE TO USE FOR BRAZE 'QA=Omio Development' or 'PROD=Omio Production'
;ENV=QA or PROD
ENV=QA


; REQUIRED CONFIG FOR 'yarn omio:vouchers-bulk-replenish:headed'
MIN_CODES_THRESHOLD=70
REPLENISH_BATCH_SIZE=5

; REQUIRED CONFIG FOR 'yarn omio:vouchers-bulk-create:headed'
; MAKE SURE THAT THE CAMPAIGN_NAME IS UNIQUE (I.E. WASN'T USED BEFORE IN BRAZE)
CAMPAIGN_NAME=20260622_campaign_v1
JOB_ID=72291392-bfa1-4285-9806-9d1d2d51b662
TARGET_BATCH_SIZE=50